@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<hr>
<h3>Select Action to Perform</h3>
@Html.ActionLink("Display customer Details","DisplayCustomers","Order")
@Html.ActionLink("Display all the products with categories","DisplayProductWithCat","Order")